extends layouts/base-template.pug

block styles
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/product.css">

block contents
  form.product-form(action="/admin/add-product", method="POST")
      .form-control
          label(for="title") Title
          input(type="text", name="title", id="title")

      button.btn(type="submit") Add Product
